<a href="https://colab.research.google.com/github/h94j3urp4/AI-2025/blob/main/week14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Demo 1 : Using the built-in calendar module
import calendar                         # import standard library
year = 2025                             # target year
print(calendar.calendar(year))          # pretty print full calendar

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [2]:
import calendar, datetime               # load modules
year = datetime.datetime.now().year     # current system year
print(calendar.month(year, 1))          # show a month only

    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [3]:
import calendar
year = int(input("Enter any year: "))   # ask user
print(calendar.calendar(year))

Enter any year: 2005
                                  2005

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [6]:
import calendar
y, m, d = 2005, 2, 16                   # sample date
weekday = calendar.weekday(y, m, d)     # 0=Mon ‚Ä¶ 6=Sun
print("Weekday index :", weekday)

Weekday index : 2

In [7]:
# Demo 2 : Basic arithmetic
a, b = 7, 3             # integers
print("a + b =", a + b) # addition
print("a ** b =", a ** b) # 2**10 = 2*2*...* 2 = 1024. exponent
print("a / b  =", a / b)  # float division
print("a // b =", a // b) # floor division
print("a % b  =", a % b)  # remainder

a + b = 10
a ** b = 343
a / b  = 2.3333333333333335
a // b = 2
a % b  = 1

In [8]:
c = float(input("Celsius: "))
f = c * 9/5 + 32
print(c, "¬∞C =", f, "¬∞F")

Celsius: 12
12.0 ¬∞C = 53.6 ¬∞F

In [9]:
base = 10; height = 4
area = 0.5 * base * height
print("Area =", area)

Area = 20.0

In [10]:
num = 2
for n in range(6):                     # 0‚Ä•5
    print(f"{num}^{n} =", num**n)

2^0 = 1
2^1 = 2
2^2 = 4
2^3 = 8
2^4 = 16
2^5 = 32

In [11]:
# üõ† Write the C code into a file
code = """
#include <stdio.h>

int main() {
    int i = 42;             // integer
    float f = 3.14f;        // floating point number
    char s[] = "hello";     // character array (string)

    printf("Type of i: int, value = %d\\n", i);
    printf("Type of f: float, value = %.2f\\n", f);
    printf("Type of s: string (char array), value = %s\\n", s);

    return 0;
}
"""

with open("types_demo.c", "w") as file:
    file.write(code)

# ‚úÖ Compile C code
!gcc types_demo.c -o types_demo

# ‚ñ∂Ô∏è Execute C program
!./types_demo

Type of i: int, value = 42
Type of f: float, value = 3.14
Type of s: string (char array), value = hello

In [12]:
# Demo 3 : Inspecting data types
i = 42                # int
f = 3.14              # float
s = "hello"           # string
print(type(i), type(f), type(s))

<class 'int'> <class 'float'> <class 'str'>

In [13]:
data = [123, 4.5, True, "hi", None]
for item in data:
    print(item, "‚Üí", type(item))

123 ‚Üí <class 'int'>
4.5 ‚Üí <class 'float'>
True ‚Üí <class 'bool'>
hi ‚Üí <class 'str'>
None ‚Üí <class 'NoneType'>

In [14]:
print(True + True, False * 10)         # bool behaves like 1 / 0

2 0

In [15]:
s = "123"
n = int(s)            # casting
print(n, n + 10)

123 133

In [16]:
# Demo 4 : if / elif / else
score = 85
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
else:
    grade = "C"
print("Grade =", grade)

Grade = B

In [17]:
n = int(input("Number: "))
print("Even" if n % 2 == 0 else "Odd")

Number: 23
Odd

In [18]:
password = "python"
user = input("Enter password: ")
if user == password:
    print("Access granted")
else:
    print("Denied")

Enter password: 3
Denied

In [19]:
a, b = True, False
print("AND:", a and b)
print("OR :", a or b)
print("NOT:", not a)

AND: False
OR : True
NOT: False